body {
  color: black;
}
.bg-navbar {
  background-color: rgb(255, 166, 0);
}
.bg-main {
  background-color: rgba(247, 201, 115, 0.867);
}
.bg-footer {
  background-color: rgba(188, 124, 5, 0.721);
}
.bg-footer2 {
  background-color: rgba(41, 27, 1, 0.871);
}
.letter-white {
  color: white;
}
